//colors
$lemon: #fcfca0;
$orange: #ffb100;
$pink: #f26ca7;
$lavender: #d7d0eb;
$turq: #4da1a9;

//fonts

$font-out: "Bungee Outline", cursive;
$font-in: "Bungee Inline", cursive;
$font-body: "Roboto", sans-serif;
$font-big: 90pt;
$font-small: 30pt;
$font-bigger: 100pt;
$font-med: 50pt;

body {
  background-color: $lemon;
  &:hover {
    background-color: $lavender;
  }
}

.header {
  font-family: $font-out;
  color: $pink;
  font-size: $font-big;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  padding-top: 70px;
  &:hover {
    color: $turq;
    font-family: $font-in;
    font-size: $font-bigger;

    background-color: $lavender;
  }
}

.main {
  height: 600px;
}
.flower {
  position: relative;
}
.rose {
  position: absolute;
  width: 50px;
  right: 0px;
  top: 0px;
}
.left {
  position: absolute;
  width: 50px;
  left: 0px;
  top: 0px;
}

@media only screen and (min-width: 100px) and (max-width: 736px) {
  body {
    font-size: 70pt;
  }
  .header {
    font-size: 50pt;
    color: $pink;
    &:hover {
      color: $turq;
      font-family: $font-in;
      font-size: 54pt;

      background-color: $lavender;
    }
  }
  .main {
    height: 550px;
  }
}
